#wrapper {
  position: relative;
  width: 500px;
  height: 600px;
  overflow: auto;
  border: 1px solid #f00; }
  #wrapper #steps {
    width: 10px;
    background: #999; }
  #wrapper .step {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background: rgba(244, 0, 0, 0.1);
    transition: top .5s; }
    #wrapper .step.current {
      top: 0; }
    #wrapper .step.prev {
      top: -110%; }
    #wrapper .step.next {
      top: 110%; }
