#wrapper {

  position: relative;
  width: 500px;
  height: 600px;
  overflow: auto;

  border: 1px solid #f00;

  #steps {
    width: 10px;
    background: #999;
  }

  .step {
    width: 100%;
    height: 100%;

    position: absolute;
    top: -100%;
    left: 0;

    background: rgba(244, 0, 0, .1);

    transition: top .5s;

    &.current {
      top: 0;
    }

    &.prev {
      top: -110%;
    }

    &.next {
      top: 110%;
    }
  }

}