html, body {
  overflow: hidden; }

#roll {
  position: relative;
  width: 500px;
  height: 500px; }
  #roll #wrapper {
    overflow: auto;
    border: 1px solid #f00;
    width: 100%;
    height: 100%; }
    #roll #wrapper #pane {
      position: relative; }
  #roll #steps {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    #roll #steps .step {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      background: rgba(244, 0, 0, 0.1);
      transition: top .5s; }
      #roll #steps .step.prev {
        top: -100%; }
      #roll #steps .step.next {
        top: 100%; }
      #roll #steps .step.curr {
        top: 0; }
