$h: 400px;

#roll {

  width: 80%;
  height: $h;


  position: relative;


  #wrapper {
    overflow: auto;
    border: 1px solid #f00;
    width: 100%;
    height: 100%;

    #pane {
      position: relative;
    }
  }

  #steps {
    position: absolute;
    overflow: hidden;
    top: 0; left: 0;
    width: 90%;
    height: 100%;
    //top: 0; bottom: 0; left: 0; right: 0;
    //
    //overflow-y: hidden;
    //overflow-x: visible;
  }

  .step {
    width: 100%;
    height: $h;

    position: absolute;
    top: $h;
    left: 0;

    background: rgba(244, 0, 0, .1);

    transition: top .5s;

    &.prev {
      top: -$h;
    }

    &.next {
      top: $h;
    }

    &.curr {
      top: 0;
    }
  }

}